body {
  background-color: #131327;
  color: #9885DD;
  font-family: 'Montserrat', sans-serif;
}

.accent, a {
  color: #69d7c7;
}

div {
  display: block;
  align-content: center;

  /**
  * how to center a div lmao 
  */
  max-width: 35%;
  margin-inline: auto;
}

h1, h2 {
  width: 50%;
}

/* Header section - START */
.header-main {
  font-size: 0;
  margin-top: 2rem;
}

.my-name {
  font-size: 2rem;
}

.header-description {
  font-size: 1rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Social media links - START*/
.social {
  margin-bottom: 0.25rem;
  overflow: hidden; 
  float: right;  
}

.la-3x{ 
  /* Icon size */
  font-size: 1.5rem;
}

.la-3x:hover, a:hover {
  color: #d6a63c;
}

.currently {
  color: white;
  font-size: 1rem;
}
